<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj : ${students}">
        <td th:text="${obj.id}">${obj.id}</td>
        <td th:text="${obj.name}">${obj.name}</td>
        <td th:text="${obj.phone}">${obj.phone}</td>`
    </tr>
    </tbody>
</table>

    <div th:with="data=${students}">
        <div th:replace="/common/page::pageBar"></div>
    </div>




<!--<ul>-->
    <!--<li th:text="${datas.totalPages}"></li>-->
    <!--<li th:text="${datas.totalElements}"></li>-->
    <!--<li th:text="${datas.size}"></li>-->
    <!--<li th:text="${datas.first}"></li>-->
    <!--<li th:text="${datas.last}"></li>-->
    <!--<li th:text="${datas.number}"></li>-->
<!--</ul>-->

</body>
</html>